@charset "utf-8";
body{ padding: 0;margin: 0;font-family: "微软雅黑",Arial,Helvetica,sans-serif;font-size: 16px;}
h1,h2,h3,h4,h5,h6,div,p,form,input,table,td,ul,ol,header,article,section,footer,nav{ padding: 0px;margin: 0px;}
ul,ol{ list-style: none}
a{ text-decoration: none;}
input,label{
    vertical-align: middle;
}

/*login.php*/
html{  height: 100%;}
.body{
    background: url('../img/bg.jpg') repeat-x repeat-y;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.main{
    width: 300px;
    margin: 0 auto;
}

.lg-title{
    font-size: 18px;
    font-weight: 400;
    color:#818385;
}

.main-panel{
    position: relative;
    width: 300px;
    height: 400px;
}
.main-panel ul{
    position: relative;
    margin: 20px auto;
    width: 152px;
}

.main-panel ul li{
    display: block;
    float: left;
    font-size: 18px;
    color:#b2b5b8;
    text-align: center;
    margin: 6px  20px;
    cursor: pointer;
}
.main-panel .tab-side{
    width: 40px;
    height: 2px;
    background-color:#0e88eb;
    clear: left;
    margin-left: 18px;
}
.main-panel ul .tab-act{
    color:#0e88eb;
}

.sign-up,.sign-in{
    width: 100%;
    /*background-color: skyblue;*/
    position: absolute;
    left: 0px;
    top:58px;


}
.sign-ipt{
    border: 1px #ddd solid;
    padding: 1px 1px;
    border-radius: 3px;
}
.sign-ipt input[type=text],.sign-ipt input[type=password]{
    border: 0px;
    outline: none;
    width: 276px;
    height: 26px;
    font-size: 14px;
    padding: 10px;
    color:#818385;
    font-family: "微软雅黑";

}
.sign-ipt hr{
    display: block;
    margin: 0px;
    height: 1px;
    border: 0px;
}
.sign-ipt .sign-vfy{
    float: right;
    margin-top:10px;
    margin-right:6px;
}
.sign-btn{
    width: 100%;
    margin: 20px auto;
    height: 40px;
    border: 1px solid #0e88eb;
    border-radius: 3px;
    color:white;
    background-color: #0e88eb;
    font-size: 16px;
    font-family: "微软雅黑";
}
.sign-btn:hover{
    background-color: #51a3e6;
}

.sign-in{
    display: none;
}
.sign-in .label{
    color:#818385;
    font-size: 14px;
}
.sign-in .label>span{
    display: block;
    float: right;
    cursor: pointer;
}
.sign-icon{
    width: 100%;
    height: 50px;
    /*background-color: skyblue;*/
    margin-top: 20px;
    display: none;
}
.sign-icon i{
    text-align: center;
    width: 95px;
    display: inline-block;
    color:#818385;
    font-size: 30px;!important;
}
.sign-icon i:hover{
    color: #0e88eb;
}
.foot{
    position: absolute;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    color:#818385;
    text-align: center;
    width: 200px;
    margin-left: -100px;
}
.jump{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 12px;

}
.jump a{
    text-decoration: underline;
}
#box_bg{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #0e88eb;
    opacity: 0.4;
    z-index: 998;
    display: none;
}
#box_lg{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    margin:-300px 0px 0px -150px;
    z-index: 999;
    background-color: snow;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 10px #000;
    word-break: break-all;
    display: none;
}
#login-close{
    position: absolute;
    right: -30px;
    top:-30px;
    cursor: pointer;
}

/* header.php*/
#header-wrap{
    background-color: white;
}
#header{
    position: relative;
    width: 1080px;
    height: 80px;
    margin: 0 auto;
}

.ipt-header{
    position: relative;
    height: 80px;
    line-height: 80px;
    float:right;
    margin-right: 50px;
}
.ipt-header input[type=text]{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 10px;
    outline: none;
}
.lg-header{
    float: right;
    height: 80px;
    line-height: 80px;
}
.lg-header a {
    display: inline-block;
    width: 60px;
    font-size: 16px;
    color:#2AABE6;
}
.lg-header img{
    vertical-align: middle;
}
.lg-header span{
    display: inline-block;
    color:#818385;
    text-align: center;
    margin-left: 20px;
}
.lg-header i:hover{
    color:#2AABE6;
}
.user-list{
    position: absolute;
    right: 0px;
    top:70px;
    border: 1px solid #fff;
    background-color: white;
    box-shadow: 0px 0px 10px #666;
    z-index: 2;
    display: none;
}
.user-list li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px 10px;
}
.user-list li:nth-child(1){
    border-bottom: 1px solid #ddd;
}
.user-list a{
    font-size: 14px;
    color:#818385;
}
.user-list a:hover{
    color:#2AABE6;
}


/* 导航条  */
.icon-search{
    position: absolute;
    top: 35px;
    right: 10px;
    color:#ddd;
}

#navbar {
    width: 100%;
    height: 35px;
    background-color: #2AABE6;
}

#navbar ul{
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}
#navbar ul li {
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
}
#navbar a{
    color:white;
}
.nav-vis{background-color: #1998D5;}

#banner{
    position: relative;
    height: 400px;
}
#banner>div{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 400px;
    background-size: cover;
}
/*#banner .img1{ background:url('../img/b1.jpg') no-repeat center;}*/
#banner .img2{ background:url('../img/b2.jpg') no-repeat center;display: none}
#banner .img3{ background:url('../img/b3.jpg') no-repeat center;display: none}
#banner .img4{ background:url('../img/b4.jpg') no-repeat center;}

.banner-list{
    position: absolute;
    left: 50%;
    top:380px;
    height: 10px;
    line-height: 10px;
    margin-left: -100px;
    overflow: hidden;
}

.banner-list li{
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #dddddd;
    margin: 0 5px;
}
.banner-list .act{
    height: 10px;
    background-color: #fff;
}


/* index.php */
#container{
    width: 100%;
    background-color: #f3f3f3;
    padding-bottom: 50px;
}
.con-title{
    color:#15a4ff;
    margin: 30px 10px 10px;
    font-size: 18px;
}
.con-title a{
    display: block;
    float: right;
    color:#15a4ff;
    font-size: 14px;
}
#container ul{
    width: 970px;
    overflow: hidden;
    margin: 0 auto;
}
#container ul li{
    float: left;
    margin:10px;
    border: 1px solid #ebebeb;
    background-color: white;
    min-height: 280px;
}

.con-img{
    position: relative;
    display: block;
}
.con-img:hover .con-bg{
    display: block;
}
.con-bg{
    position:absolute;
    left: 0px;
    top:0px;
    display: none;
    width: 220px;
    height: 140px;
    line-height: 140px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    cursor:pointer;
}
.con-bg span{
    color:white;
}
#container p{
    color:#818385;
    font-size: 14px;
    margin: 10px 20px;
}


/*footer*/
.footer{
    width: 100%;
    background-color:#0593D3;
    color:white;
    padding: 20px 0px;

}
.footer a{
    color: white;
    font-size: 14px;
}
.footer a:hover{
    text-decoration: underline;
}
.foot-main{
    width: 80%;
    margin: 0 auto;
}
.foot-main span{
    display: inline-block;
    margin: 0 20px;
}
.foot-main span:nth-child(5){
    position: relative;
    left: 250px;
}
.foot-logo{
    float: right;
}

.foot-main div.hr{
    height: 2px;
    background-color: #0576D3;
    margin: 20px 20px ;
    width: 90%;
}
.cpy{
    width: 200px;
    margin: 0 auto;
    font-size: 12px;
}